{erl_opts, [debug_info]}.
{deps, [
	erlang_ds,
	nitro_cache
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [nitro_secret]}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/nitrogen/nitro_secret">>},
          {extras, [<<"README.md">>, <<"LICENSE.md">>]},
          {main, <<"readme">>}]}.
